In [1]:
from scraping import *

## Geral

In [2]:
raw = get_data('geral')
parse_geral(raw)

     mortes        data
0       423  01-01-2009
1       435  02-01-2009
2       416  03-01-2009
3       380  04-01-2009
4       446  05-01-2009
...     ...         ...
4193    268  16-06-2020
4194    336  17-06-2020
4195    248  18-06-2020
4196    240  19-06-2020
4197    105  20-06-2020

[4189 rows x 2 columns]

## Causas

In [3]:
raw = get_data('causas')
parse_multiyear_tabs(raw)

    Morte natural Causa externa Sujeito a investigação        data
0             333             5                     37  01-01-2014
1             329            10                     55  02-01-2014
2             354             7                     38  03-01-2014
3             299             2                     26  04-01-2014
4             327             2                     30  05-01-2014
..            ...           ...                    ...         ...
167           228             9                     31  16-06-2020
168           308             7                     21  17-06-2020
169           220             6                     22  18-06-2020
170           227             1                     12  19-06-2020
171           100             2                      3  20-06-2020

[2363 rows x 4 columns]

## Grupo etário

In [4]:
raw = get_data('idades')
parse_multiyear_tabs(raw)

,< 1 ano,1-4 anos,5-14 anos,15-24 anos,25-34 anos,35-44 anos,45-54 anos,55-64 anos,65-74 anos,75-84 anos,≥ 85 anos,Desconhecido,data
0,0,0,0,1,2,7,13,27,60,118,147,0,01-01-2014
1,0,0,2,0,2,6,18,27,71,126,142,0,02-01-2014
2,2,0,1,1,6,7,20,35,61,109,157,0,03-01-2014
3,1,0,0,1,1,5,20,23,47,97,132,0,04-01-2014
4,0,0,0,0,3,2,15,32,54,114,139,0,05-01-2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,1,0,0,2,1,1,11,19,45,75,112,1,16-06-2020
168,0,1,0,0,3,7,11,36,57,99,122,0,17-06-2020
169,0,0,1,0,1,6,4,16,32,81,106,1,18-06-2020
170,0,0,1,0,0,3,6,19,44,60,107,0,19-06-2020
171,0,0,0,0,1,1,3,5,15,31,49,0,20-06-2020

## Por causa externa

In [5]:
raw = get_data('externas')
parse_multiyear_tabs(raw)

,Acidente de trânsito,Acidente de trabalho,Eventual suicídio,Eventual homicídio,Outro acidente,Ignorado,data
0,2,0,2,0,1,0,01-01-2014
1,1,0,4,0,3,2,02-01-2014
2,0,0,4,0,2,1,03-01-2014
3,0,0,1,0,0,1,04-01-2014
4,0,0,0,0,2,0,05-01-2014
...,...,...,...,...,...,...,...
167,3,1,2,0,3,0,16-06-2020
168,1,0,1,0,3,2,17-06-2020
169,1,0,2,1,2,0,18-06-2020
170,0,0,1,0,0,0,19-06-2020
171,1,0,0,0,0,1,20-06-2020

## Local de óbito

In [6]:
raw = get_data('local')
raw = raw.replace('Instituic?o de Saude', 'Instituição de Saúde')
raw = raw.replace('domicilio', 'domicílio')
parse_multiyear_tabs(raw)

    Desconhecido Na Instituição de Saúde No domicílio Outro local        data
0              5                     231           99          40  01-01-2014
1             15                     229          105          45  02-01-2014
2              6                     252          107          34  03-01-2014
3              2                     204           94          27  04-01-2014
4              3                     223           96          37  05-01-2014
..           ...                     ...          ...         ...         ...
167            2                     153           65          48  16-06-2020
168            2                     204           77          53  17-06-2020
169            2                     157           55          34  18-06-2020
170            0                     154           52          34  19-06-2020
171            1                      67           19          18  20-06-2020

[2363 rows x 5 columns]

## Agrupamento de Centro de Saúde

In [ ]:
raw = get_data('ACES')
parse_multiyear_tabs(raw)

## Distrito

In [ ]:
raw = get_data('distrito')
parse_multiyear_tabs(raw)

# Not working - concelhos

In [ ]:
#raw = get_data('concelho')
#parse_multiyear_tabs(raw)

## Outras tabelas
- #### Prematura
`get_data('prematura')`
Muito semelhante a tabela por grupos etários
- #### Mortalidate infantil
`get_data('infantil')`
Agregado por mês
- #### Regiao de saude
`get_data('ARS')`
Not working

# TODO

- fix concelhos and ARS