In [1]:
from scraping import *

## Geral

In [2]:
raw = get_data('geral')
df = parse_single_tab(raw)
df

         Data 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020
0    "Jan-01"  423  318  384  379  339  375  407  366  475  414  371  376
1    "Jan-02"  435  364  357  357  343  394  413  314  578  418  386  381
2    "Jan-03"  416  357  370  356  352  399  416  339  479  450  367  374
3    "Jan-04"  380  322  350  362  321  327  466  348  501  425  371  364
4    "Jan-05"  446  334  368  354  342  359  452  329  493  434  367  333
..        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
361  "Dez-27"  328  333  329  312  346  331  326  467  426  342  350  NaN
362  "Dez-28"  381  353  339  285  356  358  355  439  421  338  318  NaN
363  "Dez-29"  374  387  351  307  343  374  306  454  389  347  354  NaN
364  "Dez-30"  372  352  328  279  358  358  327  464  352  342  339  NaN
365  "Dez-31"  335  379  327  320  360  382  323  470  390  357  345  NaN

[366 rows x 13 columns]

In [3]:
df = df.melt(id_vars='Data', value_name='mortes')
df['Data'] = df['Data'].apply(lambda x: x.strip('"').split('-'))
df['Data'] = df['Data'].apply(lambda x: f"{x[1]}-{months[x[0]]}")
df['Data'] = df['Data'] + '-' + df['variable']
df.rename(columns={'Data': 'data'}, inplace=True)
df.drop(columns='variable', inplace=True)
df.dropna(inplace=True)

In [4]:
df

            data mortes
0     01-01-2009    423
1     02-01-2009    435
2     03-01-2009    416
3     04-01-2009    380
4     05-01-2009    446
...          ...    ...
4190  13-06-2020    256
4191  14-06-2020    252
4192  15-06-2020    266
4193  16-06-2020    254
4194  17-06-2020    261

[4186 rows x 2 columns]

## Causas

In [5]:
raw = get_data('causas')
parse_multiple_tabs(raw)

    Morte natural Causa externa Sujeito a investigaÃ§Ã£o         Data
0             333             5                     37  2014-Jan-01
1             329            10                     55  2014-Jan-02
2             354             7                     38  2014-Jan-03
3             299             2                     26  2014-Jan-04
4             327             2                     30  2014-Jan-05
..            ...           ...                    ...          ...
360           316             2                     32  2019-Dez-27
361           285             3                     30  2019-Dez-28
362           310             7                     37  2019-Dez-29
363           300             7                     32  2019-Dez-30
364           300             9                     36  2019-Dez-31

[2191 rows x 4 columns]

## Grupo etÃ¡rio

In [6]:
raw = get_data('idades')
parse_multiple_tabs(raw)

,< 1 ano,1-4 anos,5-14 anos,15-24 anos,25-34 anos,35-44 anos,45-54 anos,55-64 anos,65-74 anos,75-84 anos,â‰¥ 85 anos,Desconhecido,Data
0,0,0,0,1,2,7,13,27,60,118,147,0,2014-Jan-01
1,0,0,2,0,2,6,18,27,71,126,142,0,2014-Jan-02
2,2,0,1,1,6,7,20,35,61,109,157,0,2014-Jan-03
3,1,0,0,1,1,5,20,23,47,97,132,0,2014-Jan-04
4,0,0,0,0,3,2,15,32,54,114,139,0,2014-Jan-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,1,0,1,1,1,3,11,34,52,104,142,0,2019-Dez-27
361,1,1,0,0,1,4,6,16,43,91,154,1,2019-Dez-28
362,1,0,0,2,1,4,16,27,59,107,135,2,2019-Dez-29
363,0,0,2,1,3,6,15,26,62,72,152,0,2019-Dez-30
364,1,0,1,2,0,5,16,20,41,97,161,1,2019-Dez-31

## Por causa externa

In [7]:
raw = get_data('externas')
parse_multiple_tabs(raw)

,Acidente de trÃ¢nsito,Acidente de trabalho,Eventual suicÃ­dio,Eventual homicÃ­dio,Outro acidente,Ignorado,Data
0,2,0,2,0,1,0,2014-Jan-01
1,1,0,4,0,3,2,2014-Jan-02
2,0,0,4,0,2,1,2014-Jan-03
3,0,0,1,0,0,1,2014-Jan-04
4,0,0,0,0,2,0,2014-Jan-05
...,...,...,...,...,...,...,...
360,0,0,0,1,1,0,2019-Dez-27
361,0,0,1,1,0,1,2019-Dez-28
362,2,0,2,1,2,0,2019-Dez-29
363,2,1,2,0,2,0,2019-Dez-30
364,2,0,2,1,4,0,2019-Dez-31

## Local de Ã³bito

In [8]:
raw = get_data('local')
raw = raw.replace('Instituic?o de Saude', 'InstituiÃ§Ã£o de SaÃºde')
raw = raw.replace('domicilio', 'domicÃ­lio')
parse_multiple_tabs(raw)

    Desconhecido Na InstituiÃ§Ã£o de SaÃºde No domicÃ­lio Outro local         Data
0              5                     231           99          40  2014-Jan-01
1             15                     229          105          45  2014-Jan-02
2              6                     252          107          34  2014-Jan-03
3              2                     204           94          27  2014-Jan-04
4              3                     223           96          37  2014-Jan-05
..           ...                     ...          ...         ...          ...
360            0                     219           89          42  2019-Dez-27
361            1                     188           83          46  2019-Dez-28
362            1                     226           95          32  2019-Dez-29
363            1                     199          101          38  2019-Dez-30
364            8                     212           82          43  2019-Dez-31

[2191 rows x 5 columns]

## Agrupamento de Centro de SaÃºde

In [9]:
raw = get_data('ACES')
parse_multiple_tabs(raw)

                          ACES Ã“bitos         Data
0      "ACES Alentejo Central"      4  2014-Jan-01
1      "ACES Alentejo Central"      7  2014-Jan-02
2      "ACES Alentejo Central"      8  2014-Jan-03
3      "ACES Alentejo Central"      8  2014-Jan-04
4      "ACES Alentejo Central"      7  2014-Jan-05
...                        ...    ...          ...
31750    "Pinhal Interior Sul"      2  2019-Dez-27
31751    "Pinhal Interior Sul"      2  2019-Dez-28
31752    "Pinhal Interior Sul"      4  2019-Dez-29
31753    "Pinhal Interior Sul"      2  2019-Dez-30
31754    "Pinhal Interior Sul"      2  2019-Dez-31

[190617 rows x 3 columns]

## Distrito

In [10]:
raw = get_data('distrito')
parse_multiple_tabs(raw)

       Distrito Ã“bitos         Data
0      "Aveiro"     28  2014-Jan-01
1      "Aveiro"     23  2014-Jan-02
2      "Aveiro"     20  2014-Jan-03
3      "Aveiro"     19  2014-Jan-04
4      "Aveiro"     19  2014-Jan-05
...         ...    ...          ...
11310   "Viseu"      9  2019-Dez-27
11311   "Viseu"     11  2019-Dez-28
11312   "Viseu"     11  2019-Dez-29
11313   "Viseu"     14  2019-Dez-30
11314   "Viseu"     10  2019-Dez-31

[67921 rows x 3 columns]

# Not working - concelhos

In [11]:
#raw = get_data('concelho')
#parse_multiple_tabs(raw)

## Outras tabelas
- #### Prematura
`get_data('prematura')`
Muito semelhante a tabela por grupos etÃ¡rios
- #### Mortalidate infantil
`get_data('infantil')`
Agregado por mÃªs
- #### Regiao de saude
`get_data('ARS')`
Not working

# TODO

- uniformizar datas
- fix concelhos and ARS
- converter todos para long ou wide formats